## Creating Table 6

### Table 6 (Match ID, Date, Time)

### Loading libraries and data

In [7]:
import json
import pandas as pd
import re
data = open("../data/PGCR_graph_dataset0.json")
data = json.load(data)
data_copy = data

### Exploration

In [4]:
# match ID
data[0][0]["Response"]["activityDetails"]["instanceId"]

'1464059692'

In [13]:
# Time Stamp
print(data[0][0]["Response"]["period"])
print(re.split("T|Z", data[0][0]["Response"]["period"])[:2])

2018-02-03T17:58:49Z
['2018-02-03', '17:58:49']

## Match IDs

In [14]:
MatchIDs = [game_info["Response"]["activityDetails"]["instanceId"] for game_set in data for game_info in game_set if game_info["ErrorCode"] == 1]

In [17]:
print(len(MatchIDs))
print(MatchIDs[:10])

23547
['1464059692', '1464033979', '1464007124', '1463974712', '1463949433', '1463900221', '1463871731', '1460179191', '1460159758', '1460139868']

## Time Stamp

In [18]:
TimeStamp = [game_info["Response"]["period"] for game_set in data for game_info in game_set if game_info["ErrorCode"] == 1]

In [19]:
print(len(TimeStamp))
print(TimeStamp[:10])

23547
['2018-02-03T17:58:49Z', '2018-02-03T17:48:07Z', '2018-02-03T17:37:21Z', '2018-02-03T17:23:28Z', '2018-02-03T17:13:43Z', '2018-02-03T16:52:41Z', '2018-02-03T16:41:52Z', '2018-02-02T01:19:12Z', '2018-02-02T01:08:28Z', '2018-02-02T00:57:50Z']

### Date

In [20]:
Date = [re.split("T|Z", ts)[0] for ts in TimeStamp]

In [21]:
print(len(Date))
print(Date[:10])

23547
['2018-02-03', '2018-02-03', '2018-02-03', '2018-02-03', '2018-02-03', '2018-02-03', '2018-02-03', '2018-02-02', '2018-02-02', '2018-02-02']

### Time

In [22]:
Time = [re.split("T|Z", ts)[1] for ts in TimeStamp]

In [23]:
print(len(Time))
print(Time[:10])

23547
['17:58:49', '17:48:07', '17:37:21', '17:23:28', '17:13:43', '16:52:41', '16:41:52', '01:19:12', '01:08:28', '00:57:50']

## Combining into data frame and writing to csv

In [24]:
T6 = pd.DataFrame({"MatchID" : MatchIDs, "Date" : Date, "Time" : Time})
T6.head()

         Date     MatchID      Time
0  2018-02-03  1464059692  17:58:49
1  2018-02-03  1464033979  17:48:07
2  2018-02-03  1464007124  17:37:21
3  2018-02-03  1463974712  17:23:28
4  2018-02-03  1463949433  17:13:43

In [26]:
print(T6.shape)
T6.to_csv("data_table/table6.csv", index = False)

(23547, 3)