In [1]:
import json
import pandas as pd
import pprint
from itertools import chain

In [2]:
with open('PGCR_graph_dataset0.json') as json_file: #"Data/Destiny2_allPvP_matches/PGCR_graph_dataset0.json
    match_data0 = json.load(json_file)

In [3]:
match_data = list(chain.from_iterable(match_data0))

In [4]:
len(match_data[0].keys())

6

In [5]:
len(match_data)

23548

In [6]:
#drop the empty matches
for i in range(len(match_data)-1):
    if len(match_data[i].keys()) != 6:
        del match_data[i]
len(match_data)

23547

In [8]:
ids = dict()
fireteamids = dict()
i = 0
for mtch in match_data:
    ids[i] = []
    fireteamids[i] = []
    for player in mtch["Response"]["entries"]:
        fireteamids[i].append(player["values"]["fireteamId"]["basic"]["value"])
        ids[i].append(player["characterId"])
    i = i+1
    
len(ids)
len(fireteamids)

23547

In [9]:
full_list = [teamids for j in fireteamids for teamids in fireteamids[j]]
print(len(set(full_list))) #Total number of fireteamids across all matches - includes repeated 0s for no fireteam

62641

In [10]:
v = list(fireteamids.values())
final = list() ###create an empty list for new subset of match_data
for j in range(len(v)):
    if len(v[j]) == 8:
        final.append(match_data[j])

len(final)

8830

In [11]:
match_data_copy = []
### filter the match with at least one of the team with all players in same fireteam
for match in final:
    team0 = []
    team1 = []
    for player in match['Response']['entries']:
        if(player['standing']==0):
            team0.append(player['values'])
        elif(player['standing']==1):
            team1.append(player['values'])
    flag= 0
    if all(item['fireteamId']['basic']['value'] == team0[0]['fireteamId']['basic']['value'] for item in team0):
        flag = 0;
    else :
        flag += 1;
    if all(item['fireteamId']['basic']['value'] == team1[0]['fireteamId']['basic']['value'] for item in team1):
        flag = 0;
    else :
        flag += 1;
    
    if flag == 0:
        match_data_copy.append(match)
len(match_data_copy)

3325

In [12]:
matchid = []
team_id = []
standing = []
teamscore= []
mode = []

In [13]:
for match in match_data_copy:
    match_id = match['Response']['activityDetails'].get('instanceId')
    mode_id = match['Response']['activityDetails'].get('mode')
    for i in range(8):
        matchid.append(match_id)
        mode.append(mode_id)

In [14]:
for match in match_data_copy:
    for player in match['Response']['entries']:
            
        if 'team' in player['values'].keys():
            team_id.append(player['values']['team']['basic']['value']) 
        else:
            team_id.append('NA')
             
        if 'standing' in player['values'].keys():
            standing.append(player['values']['standing']['basic']['value']) 
        else:
            standing.append('NA')
            
        if 'teamScore' in player['values'].keys():
            teamscore.append(player['values']['teamScore']['basic']['value']) 
        else:
            teamscore.append('NA')

In [15]:
table3 = pd.DataFrame(
    {'matchID': matchid,
     'team_id': team_id,
     'standing':standing,
     'teamscore':teamscore,
     'mode':mode
    })

#table3.describe()

In [16]:
table3.head()

      matchID  mode standing team_id  teamscore
0  1459943405    43        0      16       91.0
1  1459943405    43        1      17       70.0
2  1459943405    43        0      16       91.0
3  1459943405    43        1      17       70.0
4  1459943405    43        0      16       91.0