In [63]:
import pandas as pd
import numpy as np

In [64]:
table1= pd.read_csv("table1.csv")
table2= pd.read_csv("table2.csv")
table3= pd.read_csv("table3.csv")
table4= pd.read_csv("table4.csv")
table5= pd.read_csv("table5.csv")

In [65]:
table1.head()

   Unnamed: 0     matchID  mode  standing  team_id  teamscore
0           0  1459943405    43       0.0     16.0       91.0
1           1  1459943405    43       1.0     17.0       70.0
2           2  1459943405    43       0.0     16.0       91.0
3           3  1459943405    43       1.0     17.0       70.0
4           4  1459943405    43       0.0     16.0       91.0

In [66]:
table2.head()

,Unnamed: 0,Ability,Character_Class,Character_Level,Grenade,KDA,Lightlevel,Melee,Super,assists,avg_score_per_life,deaths,efficiency,kills,matchID,playersID,score
0,0,0.0,Titan,25,0.0,2.055556,0,3.0,3.0,5.0,4.100000,9.0,2.333333,16.0,1459943405,2305843009266126020,41.0
1,1,0.0,Titan,25,1.0,1.833333,335,2.0,2.0,3.0,3.200000,9.0,2.000000,15.0,1459943405,2305843009283916134,32.0
2,2,0.0,Titan,25,0.0,1.611111,332,0.0,2.0,5.0,2.900000,9.0,1.888889,12.0,1459943405,2305843009264211849,29.0
3,3,0.0,Hunter,25,1.0,1.200000,334,0.0,0.0,2.0,1.687500,15.0,1.266667,17.0,1459943405,2305843009260473349,27.0
4,4,0.0,Titan,25,0.0,1.076923,334,4.0,0.0,4.0,1.928571,13.0,1.230769,12.0,1459943405,2305843009270239884,27.0

In [67]:
table3.head()

     fireTeamID             playerID
0 -3.685548e+17  2305843009268720704
1 -2.245961e+18  2305843009265606963
2 -5.620820e+18  2305843009262752454
3  1.855335e+17  2305843009261639164
4  3.666009e+18  2305843009265034294

In [68]:
table4.head()

,Unnamed: 0,reference_id,weapon_name,itemTypeDisplayName,itemTypeAndTierDisplayName,itemType,itemSubType,tierTypeName,equipmentSlotTypeHash,itemCategoryHashes,levels,loreHash_list
0,0,423789,Mythos Hack 4.1,Gauntlets,Rare Gauntlets,2,27,Rare,3.551919e+09,"[23, 46, 20]","[33, 32, 30, 29, 20, 19, 17, 15, 13, 11, 9, 7,...",NaN
1,1,4425887,The Time-Worn Spire,Pulse Rifle,Legendary Pulse Rifle,3,13,Legendary,1.498877e+09,"[2, 1, 7]","[33, 1]",NaN
2,2,7242309,Future War Cult Arsenal,Armor Set,Legendary Armor Set,0,0,Legendary,NaN,[2423200735],[20],NaN
3,3,7242310,Future War Cult Arsenal,Armor Set,Legendary Armor Set,0,0,Legendary,NaN,[2423200735],[20],NaN
4,4,10307688,Wildwood Plate,Chest Armor,Legendary Chest Armor,2,28,Legendary,1.423949e+07,"[22, 47, 20]","[33, 1, 0]",NaN

In [69]:
table5.head()

,Unnamed: 0,matchID,playersID,referenceID,uniqueWeaponKills,uniqueWeaponKillsPrecisionKills,uniqueWeaponPrecisionKills
0,0,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0
1,1,1459943405,2305843009266126020,3691881271,1.0,0.000000,0.0
2,2,1459943405,2305843009283916134,1650442173,3.0,0.333333,1.0
3,3,1459943405,2305843009283916134,3906942101,6.0,0.333333,2.0
4,4,1459943405,2305843009264211849,3762467078,9.0,0.333333,3.0

## Reformat tables

In [70]:
#table1
table1=table1[["matchID","mode","standing","team_id","teamscore"]]
table1.head()

      matchID  mode  standing  team_id  teamscore
0  1459943405    43       0.0     16.0       91.0
1  1459943405    43       1.0     17.0       70.0
2  1459943405    43       0.0     16.0       91.0
3  1459943405    43       1.0     17.0       70.0
4  1459943405    43       0.0     16.0       91.0

In [71]:
#table2
table2=table2.drop('Unnamed: 0',axis=1)

In [72]:
table2.head()

,Ability,Character_Class,Character_Level,Grenade,KDA,Lightlevel,Melee,Super,assists,avg_score_per_life,deaths,efficiency,kills,matchID,playersID,score
0,0.0,Titan,25,0.0,2.055556,0,3.0,3.0,5.0,4.100000,9.0,2.333333,16.0,1459943405,2305843009266126020,41.0
1,0.0,Titan,25,1.0,1.833333,335,2.0,2.0,3.0,3.200000,9.0,2.000000,15.0,1459943405,2305843009283916134,32.0
2,0.0,Titan,25,0.0,1.611111,332,0.0,2.0,5.0,2.900000,9.0,1.888889,12.0,1459943405,2305843009264211849,29.0
3,0.0,Hunter,25,1.0,1.200000,334,0.0,0.0,2.0,1.687500,15.0,1.266667,17.0,1459943405,2305843009260473349,27.0
4,0.0,Titan,25,0.0,1.076923,334,4.0,0.0,4.0,1.928571,13.0,1.230769,12.0,1459943405,2305843009270239884,27.0

In [73]:
#table3
#good
table3.head()

     fireTeamID             playerID
0 -3.685548e+17  2305843009268720704
1 -2.245961e+18  2305843009265606963
2 -5.620820e+18  2305843009262752454
3  1.855335e+17  2305843009261639164
4  3.666009e+18  2305843009265034294

In [74]:
#table4
table4=table4[["reference_id","weapon_name",'itemTypeDisplayName',"itemTypeAndTierDisplayName","tierTypeName"]]
table4.head()

,reference_id,weapon_name,itemTypeDisplayName,itemTypeAndTierDisplayName,tierTypeName
0,423789,Mythos Hack 4.1,Gauntlets,Rare Gauntlets,Rare
1,4425887,The Time-Worn Spire,Pulse Rifle,Legendary Pulse Rifle,Legendary
2,7242309,Future War Cult Arsenal,Armor Set,Legendary Armor Set,Legendary
3,7242310,Future War Cult Arsenal,Armor Set,Legendary Armor Set,Legendary
4,10307688,Wildwood Plate,Chest Armor,Legendary Chest Armor,Legendary

In [75]:
#table 5
table5.columns

Index(['Unnamed: 0', 'matchID', 'playersID', 'referenceID',
       'uniqueWeaponKills', 'uniqueWeaponKillsPrecisionKills',
       'uniqueWeaponPrecisionKills'],
      dtype='object')

In [76]:
table5=table5[['matchID','playersID', 'referenceID', 'uniqueWeaponKills',
       'uniqueWeaponKillsPrecisionKills', 'uniqueWeaponPrecisionKills']]
table5.head()

,matchID,playersID,referenceID,uniqueWeaponKills,uniqueWeaponKillsPrecisionKills,uniqueWeaponPrecisionKills
0,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0
1,1459943405,2305843009266126020,3691881271,1.0,0.000000,0.0
2,1459943405,2305843009283916134,1650442173,3.0,0.333333,1.0
3,1459943405,2305843009283916134,3906942101,6.0,0.333333,2.0
4,1459943405,2305843009264211849,3762467078,9.0,0.333333,3.0

## Merge

### First, merge table 5 and table 4 by reference id

In [77]:
table4_5=pd.merge(table5,table4,how="left",left_on="referenceID",right_on="reference_id")
table4_5.head(20)#primary key = playerid+matchid+referenceid

,matchID,playersID,referenceID,uniqueWeaponKills,uniqueWeaponKillsPrecisionKills,uniqueWeaponPrecisionKills,reference_id,weapon_name,itemTypeDisplayName,itemTypeAndTierDisplayName,tierTypeName
0,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,3393130645,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary
1,1459943405,2305843009266126020,3691881271,1.0,0.000000,0.0,3691881271,Sins of the Past,Rocket Launcher,Legendary Rocket Launcher,Legendary
2,1459943405,2305843009283916134,1650442173,3.0,0.333333,1.0,1650442173,Loquitor IV,Auto Rifle,Legendary Auto Rifle,Legendary
3,1459943405,2305843009283916134,3906942101,6.0,0.333333,2.0,3906942101,Conspirator,Scout Rifle,Legendary Scout Rifle,Legendary
4,1459943405,2305843009264211849,3762467078,9.0,0.333333,3.0,3762467078,Scathelocke,Auto Rifle,Legendary Auto Rifle,Legendary
5,1459943405,2305843009260473349,1331482397,6.0,0.500000,3.0,1331482397,MIDA Multi-Tool,Scout Rifle,Exotic Scout Rifle,Exotic
6,1459943405,2305843009260473349,3762467076,6.0,0.333333,2.0,3762467076,Uriel's Gift,Auto Rifle,Legendary Auto Rifle,Legendary
7,1459943405,2305843009270239884,1048266744,3.0,0.000000,0.0,1048266744,Better Devils,Hand Cannon,Legendary Hand Cannon,Legendary
8,1459943405,2305843009270239884,3089417788,2.0,0.000000,0.0,3089417788,MIDA Mini-Tool,Submachine Gun,Legendary Submachine Gun,Legendary
9,1459943405,2305843009270239884,4190156464,3.0,0.000000,0.0,4190156464,Merciless,Fusion Rifle,Exotic Fusion Rifle,Exotic
10,1459943405,2305843009318815247,1327432221,3.0,0.333333,1.0,1327432221,Perseverance,Auto Rifle,Legendary Auto Rifle,Legendary
11,1459943405,2305843009318815247,1331482397,6.0,0.833333,5.0,1331482397,MIDA Multi-Tool,Scout Rifle,Exotic Scout Rifle,Exotic
12,1459943405,2305843009265606964,925326393,1.0,0.000000,0.0,925326393,Manannan SR4,Scout Rifle,Legendary Scout Rifle,Legendary
13,1459943405,2305843009265606964,1644162710,5.0,0.200000,1.0,1644162710,Origin Story,Auto Rifle,Legendary Auto Rifle,Legendary
14,1459943405,2305843009264488479,3434629515,1.0,1.000000,1.0,3434629515,Metronome-52,Scout Rifle,Legendary Scout Rifle,Legendary
15,1459943405,2305843009264488479,1644162710,1.0,1.000000,1.0,1644162710,Origin Story,Auto Rifle,Legendary Auto Rifle,Legendary
16,1459943405,2305843009264488479,3899270607,2.0,0.000000,0.0,3899270607,The Colony,Grenade Launcher,Exotic Grenade Launcher,Exotic
17,986171745,2305843009299644097,1331482397,3.0,1.000000,3.0,1331482397,MIDA Multi-Tool,Scout Rifle,Exotic Scout Rifle,Exotic
18,986171745,2305843009299644097,1911843791,2.0,0.500000,1.0,1911843791,Last Hope,Sidearm,Legendary Sidearm,Legendary
19,986171745,2305843009299644097,1339362514,7.0,0.142857,1.0,1339362514,Stochastic Variable,Submachine Gun,Legendary Submachine Gun,Legendary

In [78]:
type(table4_5["playersID"])

pandas.core.series.Series

### Merge 4_5 with table 2

In [81]:
#key = match id +player id
table2_4_5=pd.merge(table4_5,table2, how="inner", left_on=["matchID","playersID"],right_on=["matchID","playersID"])
table2_4_5.head(20)

,matchID,playersID,referenceID,uniqueWeaponKills,uniqueWeaponKillsPrecisionKills,uniqueWeaponPrecisionKills,reference_id,weapon_name,itemTypeDisplayName,itemTypeAndTierDisplayName,...,KDA,Lightlevel,Melee,Super,assists,avg_score_per_life,deaths,efficiency,kills,score
0,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,3393130645,Positive Outlook,Auto Rifle,Legendary Auto Rifle,...,2.055556,0,3.0,3.0,5.0,4.100000,9.0,2.333333,16.0,41.0
1,1459943405,2305843009266126020,3691881271,1.0,0.000000,0.0,3691881271,Sins of the Past,Rocket Launcher,Legendary Rocket Launcher,...,2.055556,0,3.0,3.0,5.0,4.100000,9.0,2.333333,16.0,41.0
2,1459943405,2305843009283916134,1650442173,3.0,0.333333,1.0,1650442173,Loquitor IV,Auto Rifle,Legendary Auto Rifle,...,1.833333,335,2.0,2.0,3.0,3.200000,9.0,2.000000,15.0,32.0
3,1459943405,2305843009283916134,3906942101,6.0,0.333333,2.0,3906942101,Conspirator,Scout Rifle,Legendary Scout Rifle,...,1.833333,335,2.0,2.0,3.0,3.200000,9.0,2.000000,15.0,32.0
4,1459943405,2305843009264211849,3762467078,9.0,0.333333,3.0,3762467078,Scathelocke,Auto Rifle,Legendary Auto Rifle,...,1.611111,332,0.0,2.0,5.0,2.900000,9.0,1.888889,12.0,29.0
5,1459943405,2305843009260473349,1331482397,6.0,0.500000,3.0,1331482397,MIDA Multi-Tool,Scout Rifle,Exotic Scout Rifle,...,1.200000,334,0.0,0.0,2.0,1.687500,15.0,1.266667,17.0,27.0
6,1459943405,2305843009260473349,3762467076,6.0,0.333333,2.0,3762467076,Uriel's Gift,Auto Rifle,Legendary Auto Rifle,...,1.200000,334,0.0,0.0,2.0,1.687500,15.0,1.266667,17.0,27.0
7,1459943405,2305843009270239884,1048266744,3.0,0.000000,0.0,1048266744,Better Devils,Hand Cannon,Legendary Hand Cannon,...,1.076923,334,4.0,0.0,4.0,1.928571,13.0,1.230769,12.0,27.0
8,1459943405,2305843009270239884,3089417788,2.0,0.000000,0.0,3089417788,MIDA Mini-Tool,Submachine Gun,Legendary Submachine Gun,...,1.076923,334,4.0,0.0,4.0,1.928571,13.0,1.230769,12.0,27.0
9,1459943405,2305843009270239884,4190156464,3.0,0.000000,0.0,4190156464,Merciless,Fusion Rifle,Exotic Fusion Rifle,...,1.076923,334,4.0,0.0,4.0,1.928571,13.0,1.230769,12.0,27.0
10,1459943405,2305843009318815247,1327432221,3.0,0.333333,1.0,1327432221,Perseverance,Auto Rifle,Legendary Auto Rifle,...,1.035714,329,0.0,0.0,3.0,1.800000,14.0,1.142857,13.0,27.0
11,1459943405,2305843009318815247,1331482397,6.0,0.833333,5.0,1331482397,MIDA Multi-Tool,Scout Rifle,Exotic Scout Rifle,...,1.035714,329,0.0,0.0,3.0,1.800000,14.0,1.142857,13.0,27.0
12,1459943405,2305843009265606964,925326393,1.0,0.000000,0.0,925326393,Manannan SR4,Scout Rifle,Legendary Scout Rifle,...,0.653846,335,0.0,0.0,3.0,1.071429,13.0,0.769231,7.0,15.0
13,1459943405,2305843009265606964,1644162710,5.0,0.200000,1.0,1644162710,Origin Story,Auto Rifle,Legendary Auto Rifle,...,0.653846,335,0.0,0.0,3.0,1.071429,13.0,0.769231,7.0,15.0
14,1459943405,2305843009264488479,3434629515,1.0,1.000000,1.0,3434629515,Metronome-52,Scout Rifle,Legendary Scout Rifle,...,0.406250,335,1.0,1.0,1.0,0.764706,16.0,0.437500,6.0,13.0
15,1459943405,2305843009264488479,1644162710,1.0,1.000000,1.0,1644162710,Origin Story,Auto Rifle,Legendary Auto Rifle,...,0.406250,335,1.0,1.0,1.0,0.764706,16.0,0.437500,6.0,13.0
16,1459943405,2305843009264488479,3899270607,2.0,0.000000,0.0,3899270607,The Colony,Grenade Launcher,Exotic Grenade Launcher,...,0.406250,335,1.0,1.0,1.0,0.764706,16.0,0.437500,6.0,13.0
17,986171745,2305843009299644097,1331482397,3.0,1.000000,3.0,1331482397,MIDA Multi-Tool,Scout Rifle,Exotic Scout Rifle,...,1.176471,282,2.0,3.0,2.0,2.055556,17.0,1.235294,19.0,37.0
18,986171745,2305843009299644097,1911843791,2.0,0.500000,1.0,1911843791,Last Hope,Sidearm,Legendary Sidearm,...,1.176471,282,2.0,3.0,2.0,2.055556,17.0,1.235294,19.0,37.0
19,986171745,2305843009299644097,1339362514,7.0,0.142857,1.0,1339362514,Stochastic Variable,Submachine Gun,Legendary Submachine Gun,...,1.176471,282,2.0,3.0,2.0,2.055556,17.0,1.235294,19.0,37.0

### merge 2_4_5 with table1

In [82]:
table1_2_4_5=pd.merge(table2_4_5,table1,how="inner",left_on="matchID",right_on="matchID")
table1_2_4_5.head(20)
table1_2_4_5.columns

Index(['matchID', 'playersID', 'referenceID', 'uniqueWeaponKills',
       'uniqueWeaponKillsPrecisionKills', 'uniqueWeaponPrecisionKills',
       'reference_id', 'weapon_name', 'itemTypeDisplayName',
       'itemTypeAndTierDisplayName', 'tierTypeName', 'Ability',
       'Character_Class', 'Character_Level', 'Grenade', 'KDA', 'Lightlevel',
       'Melee', 'Super', 'assists', 'avg_score_per_life', 'deaths',
       'efficiency', 'kills', 'score', 'mode', 'standing', 'team_id',
       'teamscore'],
      dtype='object')

### Remove Reduancy Attribute

In [83]:
table1_2_4_5=table1_2_4_5.drop('reference_id',axis=1)

In [84]:
table1_2_4_5.head()

,matchID,playersID,referenceID,uniqueWeaponKills,uniqueWeaponKillsPrecisionKills,uniqueWeaponPrecisionKills,weapon_name,itemTypeDisplayName,itemTypeAndTierDisplayName,tierTypeName,...,assists,avg_score_per_life,deaths,efficiency,kills,score,mode,standing,team_id,teamscore
0,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,5.0,4.1,9.0,2.333333,16.0,41.0,43,0.0,16.0,91.0
1,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,5.0,4.1,9.0,2.333333,16.0,41.0,43,1.0,17.0,70.0
2,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,5.0,4.1,9.0,2.333333,16.0,41.0,43,0.0,16.0,91.0
3,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,5.0,4.1,9.0,2.333333,16.0,41.0,43,1.0,17.0,70.0
4,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,5.0,4.1,9.0,2.333333,16.0,41.0,43,0.0,16.0,91.0

### Merge 1_2_4_5 with table 3

In [85]:
table1_2_3_4_5=pd.merge(table1_2_4_5,table3,how="inner",left_on="playersID",right_on="playerID")
table1_2_3_4_5.head()

,matchID,playersID,referenceID,uniqueWeaponKills,uniqueWeaponKillsPrecisionKills,uniqueWeaponPrecisionKills,weapon_name,itemTypeDisplayName,itemTypeAndTierDisplayName,tierTypeName,...,deaths,efficiency,kills,score,mode,standing,team_id,teamscore,fireTeamID,playerID
0,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,9.0,2.333333,16.0,41.0,43,0.0,16.0,91.0,1.426077e+18,2305843009266126020
1,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,9.0,2.333333,16.0,41.0,43,1.0,17.0,70.0,1.426077e+18,2305843009266126020
2,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,9.0,2.333333,16.0,41.0,43,0.0,16.0,91.0,1.426077e+18,2305843009266126020
3,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,9.0,2.333333,16.0,41.0,43,1.0,17.0,70.0,1.426077e+18,2305843009266126020
4,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,9.0,2.333333,16.0,41.0,43,0.0,16.0,91.0,1.426077e+18,2305843009266126020

In [87]:
table1_2_3_4_5=table1_2_3_4_5.drop("playerID",axis=1)

In [88]:
table1_2_3_4_5.head()

,matchID,playersID,referenceID,uniqueWeaponKills,uniqueWeaponKillsPrecisionKills,uniqueWeaponPrecisionKills,weapon_name,itemTypeDisplayName,itemTypeAndTierDisplayName,tierTypeName,...,avg_score_per_life,deaths,efficiency,kills,score,mode,standing,team_id,teamscore,fireTeamID
0,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,4.1,9.0,2.333333,16.0,41.0,43,0.0,16.0,91.0,1.426077e+18
1,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,4.1,9.0,2.333333,16.0,41.0,43,1.0,17.0,70.0,1.426077e+18
2,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,4.1,9.0,2.333333,16.0,41.0,43,0.0,16.0,91.0,1.426077e+18
3,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,4.1,9.0,2.333333,16.0,41.0,43,1.0,17.0,70.0,1.426077e+18
4,1459943405,2305843009266126020,3393130645,9.0,0.444444,4.0,Positive Outlook,Auto Rifle,Legendary Auto Rifle,Legendary,...,4.1,9.0,2.333333,16.0,41.0,43,0.0,16.0,91.0,1.426077e+18

In [89]:
table1_2_3_4_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3594672 entries, 0 to 3594671
Data columns (total 29 columns):
matchID                            int64
playersID                          int64
referenceID                        int64
uniqueWeaponKills                  float64
uniqueWeaponKillsPrecisionKills    float64
uniqueWeaponPrecisionKills         float64
weapon_name                        object
itemTypeDisplayName                object
itemTypeAndTierDisplayName         object
tierTypeName                       object
Ability                            float64
Character_Class                    object
Character_Level                    int64
Grenade                            float64
KDA                                float64
Lightlevel                         int64
Melee                              float64
Super                              float64
assists                            float64
avg_score_per_life                 float64
deaths                             float64
efficiency                         float64
kills                              float64
score                              float64
mode                               int64
standing                           float64
team_id                            float64
teamscore                          float64
fireTeamID                         float64
dtypes: float64(18), int64(6), object(5)
memory usage: 822.8+ MB

In [90]:
table1_2_3_4_5.describe()

,matchID,playersID,referenceID,uniqueWeaponKills,uniqueWeaponKillsPrecisionKills,uniqueWeaponPrecisionKills,Ability,Character_Level,Grenade,KDA,...,avg_score_per_life,deaths,efficiency,kills,score,mode,standing,team_id,teamscore,fireTeamID
count,3.594672e+06,3.594672e+06,3.594672e+06,3.594672e+06,3.594672e+06,3.594672e+06,3.594672e+06,3.594672e+06,3.594672e+06,3.594672e+06,...,2.934808e+06,3.594672e+06,3.594672e+06,3.594672e+06,3.594672e+06,3.594672e+06,2.934808e+06,2.934808e+06,3.594672e+06,3.594672e+06
mean,1.097889e+09,2.305843e+18,2.268483e+09,4.023733e+00,3.115761e-01,1.335443e+00,4.578331e-02,2.260398e+01,1.192051e+00,2.945496e+00,...,1.234198e+00,7.725957e+00,3.425819e+00,1.679021e+01,1.148688e+01,3.304410e+01,4.955779e-01,1.648210e+01,2.841104e+01,-9.005713e+17
std,3.282813e+08,1.463185e+07,1.239818e+09,1.084879e+01,3.551709e-01,4.339465e+00,5.933308e-01,2.612791e+00,6.503236e+00,4.253929e+00,...,1.303154e+00,6.041072e+00,4.871477e+00,5.316986e+01,1.371275e+01,1.619522e+01,4.999805e-01,7.503321e-01,4.202369e+01,5.400682e+18
min,1.503226e+08,2.305843e+18,4.425887e+06,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,5.882353e-02,...,0.000000e+00,0.000000e+00,5.882353e-02,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,0.000000e+00,-9.221271e+18
25%,7.653999e+08,2.305843e+18,1.331482e+09,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+01,0.000000e+00,1.038462e+00,...,4.000000e-01,4.000000e+00,1.200000e+00,6.000000e+00,4.000000e+00,4.100000e+01,0.000000e+00,1.600000e+01,2.000000e+00,-5.826724e+18
50%,1.257234e+09,2.305843e+18,1.911844e+09,2.000000e+00,2.000000e-01,1.000000e+00,0.000000e+00,2.500000e+01,0.000000e+00,1.625000e+00,...,8.571429e-01,7.000000e+00,1.875000e+00,9.000000e+00,6.000000e+00,4.100000e+01,0.000000e+00,1.600000e+01,5.000000e+00,-1.269234e+18
75%,1.386693e+09,2.305843e+18,3.691881e+09,4.000000e+00,5.000000e-01,2.000000e+00,0.000000e+00,2.500000e+01,1.000000e+00,3.000000e+00,...,1.500000e+00,1.100000e+01,3.500000e+00,1.300000e+01,1.600000e+01,4.200000e+01,1.000000e+00,1.700000e+01,5.300000e+01,3.610043e+18
max,1.470410e+09,2.305843e+18,4.255268e+09,5.250000e+02,1.000000e+00,1.660000e+02,3.400000e+01,2.500000e+01,1.670000e+02,1.360000e+02,...,3.200000e+01,1.050000e+02,1.470000e+02,8.960000e+02,8.800000e+01,4.400000e+01,1.000000e+00,1.700000e+01,1.310000e+02,9.223004e+18

In [91]:
table1_2_3_4_5.to_csv("merged_sample_data.csv")